 @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');


*{
    box-sizing: border-box;

}

body{
   
    margin: 0;
    background-image: url(./bg/IMG_20230501_162834_594.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Castoro Titling', cursive;

}
h1{
    color: white;
    font-size: 4rem;
    margin-top: 10rem;
}
p, span {
    color: white;

}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-container{
    display: flex;
}
.span-t {
    text-align: center;
}

.span-t span {
    font-size: 1.4rem;
}
